<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Appointment Cancelled</title>
</head>
<body>
    <%-include("header") %>
    <h1>About Page</h1>
    <p>This is an appointment booking service for Goldsmith Surgery</p>
    <p>This website allows patients and doctors to create appointments with each other</p>
    <p>You can also use this service to cancel your appointments if need be</p>
