<a href="/">Home</a>
<a href="/about">About</a>
<% if(!account_type){ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
<% }%>
<% if(account_type){ %>
    <a href="/appointments">Appointments</a>
    <a href="/appointments/add">Create new appointment</a>    
    <a href="/appointments/search">Search for Doctors</a>
    <a href="/auth/logout">Logout</a>
<% }%>
<br>