<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Register</title>
</head>
<body>
<h1>Register as New Patient</h1>
    <form method="POST" action="/auth/registered">
        <p>First name: <input id="first" type="text" name="first" /></p>
        <p>Last name: <input id="last" type="text" name="last" /></p>
        <p>Email: <input id="email" type="email" name="email" /></p>
        <p>Username: <input type="text" name="username" id="username"></p>
        <p>Password: <input type="text" name="password" id="password"></p>
        <p>Date of Birth <input type="date" name="dob" id="dob"></p>
        <input type="submit" value="Register" />
      </form>
</body>
</html>