<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Appointments</title>
</head>
<body>
    <%- include("header") %>
    <h1>Find Doctors</h1>
    <form action="search_result" method="GET">
      <p>What is the doctors last name?</p>
      <input id="search-box" type="text" name="search_text" placeholder="Doctor Name">
      <input type="submit" value="Search" >
    </form>
</body>